<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="description/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0; background-color: #ebeae8">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding: 3% 0 0 0;">
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                   style="border-collapse: collapse; background-color: #FFF">
                <tr>
                    <td align="center"
                        style="background-color: #55534f; padding: 0px 10px 10px 10px; font-size: 15px; line-height: 22px; font-family: Open Sans, Lucida, Lucida Sans, Lucida Grande, Arial, sans-serif !important; color: #ffffff;">
                        <h1><em>EffectiveSoft</em></h1>
                    </td>
                </tr>
                <tr>
                    <td align="center"
                        style="padding: 0px 10px 10px 10px; font-size: 15px; line-height: 22px; font-family: Open Sans, Lucida, Lucida Sans, Lucida Grande, Arial, sans-serif !important; color: #918879;">
                        <h1><em>Book-Service</em></h1>
                    </td>
                </tr>
                <tr>
                    <td align="center"
                        style="padding: 0px 10px 10px 10px; font-size: 15px; line-height: 22px; font-family: Open Sans, Lucida, Lucida Sans, Lucida Grande, Arial, sans-serif !important; color: #918879;">
                        <p>Welcome to ES-Book-Service! <br>There's just one more step before you get access to your
                            account
                        <p>
                    </td>
                </tr>
                <tr>
                    <td align="center"
                        style="padding: 0px 10px 10px 10px; font-size: 15px; line-height: 22px; font-family: Open Sans, Lucida, Lucida Sans, Lucida Grande, Arial, sans-serif !important; color: #918879;">
                        <p>Verify we have the right email address by clicking on the button below:</p>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                            <tbody>
                            <tr>
                                <td align="center" style="padding: 1% 0 5% 0;">
                                    <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                                        <tbody>
                                        <tr>
                                            <td align="center"><a
                                                    href="${confirmation_link}"
                                                    style="font-size: 100%; font-family: Open Sans, Lucida, Lucida Sans, Lucida Grande, Arial, sans-serif !important; font-weight: normal; color: #ffffff; description-decoration: none; background-color: #55534f; border-top: 15px solid #55534f; border-bottom: 15px solid #55534f; border-left: 25px solid #55534f; border-right: 25px solid #55534f; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;"
                                                    class="mobile-button">Verify my account!</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <img src="https://i.ibb.co/bN7GgwL/books.png" width="50%"
                             style="margin-top: 5%; margin-bottom: 5%">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td bgcolor="#EBEAE8" align="center" style="padding: 10px 15px 20px 15px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td bgcolor="#EBEAE8" align="center">
                        <table border="0" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                            <tr>
                                <td align="center"
                                    style="font-size: 100%; line-height: 28px; font-family: Open Sans, Lucida, Lucida Sans, Lucida Grande, Arial, sans-serif !important; color:#AFA194;">
                                    Follow EffectiveSoft:<br><a href="https://vk.com/effectivesoft_life"
                                                                style="color:#968d81; description-decoration:none;"><img
                                        width="5%" alt="VK" border="0"
                                        src="https://i.ibb.co/7pkKcby/vk.png" style="padding: 1.5% 0 0 0;"></a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center"
                                    style="padding: 3% 0 1% 0; font-size: 1%; font-family: Open Sans, Lucida, Lucida Sans, Lucida Grande, Arial, sans-serif !important;">
                                    <span style="color:#CDC3B4; font-size:12px;">© 2019 EffectiveSoft, Minsk, Belarus</span><br><br>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>