@import 'commonStyles.scss';

.find-button {
  @extend %shared-for-button;
  border: 1px solid $primary-color;
  color: $primary-color;
  margin-top: 2.55%;
}

.find-button:hover {
  color: white;
  background-color: $primary-color;
}

.checkbox {
  margin-top: 2.6%;
  cursor: pointer;
}

.author-preview-name-label {
  font-size: 21px;
  font-weight: $label-font-weight;
  color: $label-font-color;
  margin-top: 3%;
  margin-bottom: 3%;
  cursor: pointer;
}

.author-preview-info-label {
  font-size: 16px;
  color: $label-font-color;
  margin-top: 3%;
  cursor: pointer;
}

.hr {
  background: $primary-color;
  width: 91.5%;
  height: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

.author-preview-component {
  cursor: pointer;
  padding: 5px;
  border: 1px solid $primary-color;
}


.author-preview-component:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  box-shadow: 0 1px 28px rgba(0, 0, 0, 0.25), 0 1px 10px rgba(0, 0, 0, 0.22);
}

.upload-button {
  @extend %shared-for-button;
  border: 1px solid #e5bd00;
  color: #e5bd00;
}

.upload-button:hover {
  background-color: #f8f8f8;
  color: white;
}


.show-more-button {
  @extend %shared-for-button;
  border: 1px solid $primary-color;
  color: $primary-color;
}

.show-more-button:hover {
  background-color: $primary-color;
  color: white;
}
