@import 'commonStyles.scss';

.tooltip {
  @extend %tooltip;
}

.tooltip::after {
  @extend %tooltip-after;

  height: 98px;
  margin-top: -30px;
  margin-left: 40px;
  width: 160px;
}

.tooltip:hover::after {
  @extend %tooltip-hover-after;
}

.label {
  font-size: 20px;
}

.likes-count-label {
  font-size: 20px;
  cursor: pointer;
}

.like-icon {
  cursor: pointer;
  margin-right: 7px;
}

.dialog-close-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 150px
}

.text-area {
  width: 68%;
  height: fit-content;
  align-self: center;
}

.user-comment {
  width: 70%;
  margin-top: 5%;
}

.edit-icon {
  margin-top: 28px;
  cursor: pointer;
}

.dialog-main-layout {
  padding-right: 35px;
  padding-left: 35px;
}

.dialog-label {
  font-size: 25px;
  font-weight: bold;
  color: $primary-color;
}

.button {
  @extend %shared-for-button;
  border: 1px solid #555555;
  color: black;
  padding: 4px 30px;
  margin-top: 4%;
}

.button:hover {
  background-color: #4e4e4e;
  color: white;
}