.round-button {
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #3498db;
  border-radius: 50%;
  color: #3498db;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  background: white;
}

.round-button:hover {
  background: #3498db;
  color: white;
}

.round-button-click {
  @extend .round-button;
  color: white;
  background: #3498db;
}